# Node
node_modules/
.pnpm-store/
dist/
build/
.cache/
coverage/
*.log

# Python
__pycache__/
*.pyc
.venv/
.env
.env.*

# MacOS
.DS_Store

# VSCode
.vscode/

# Data
/data/**/*.tmp
/data/**/*.cache
/data/**/downloads/
